body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.container{
    text-align:center;
    margin-left: 27%;
    width: 400px;
    border:2px solid red;
    margin-top:-3%;
}
.num{
    display: flex;
    color: aqua;
    margin-left: 7%;
}
button{
    width:120px;
    height:34px;
    border-radius: 2px;
}
button:hover{
    border: 2px solid green;
}